
.container {
    color: rgb(85, 85, 85);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    opacity: 1;
    padding-top: 1px;
    position: relative;
    visibility: visible;
}

.content {
    -webkit-box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 2px 1px, rgba(0, 0, 0, 0.0784314) 0px 3px 6px 0px;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-bottom-color: rgba(20, 53, 80, 0.137255);
    border-bottom-style: solid;
    border-bottom-width: 1px;
    border-image-outset: 0px;
    border-image-repeat: stretch;
    border-image-slice: 100%;
    border-image-source: none;
    border-image-width: 1;
    border-left-color: rgba(20, 53, 80, 0.137255);
    border-left-style: solid;
    border-left-width: 1px;
    border-right-color: rgba(20, 53, 80, 0.137255);
    border-right-style: solid;
    border-right-width: 1px;
    border-top-color: rgba(20, 53, 80, 0.137255);
    border-top-style: solid;
    border-top-width: 1px;
    box-shadow: rgba(0, 0, 0, 0.0784314) 0px 1px 2px 1px, rgba(0, 0, 0, 0.0784314) 0px 3px 6px 0px;
    color: rgb(120, 120, 120);
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    line-height: normal;
    list-style-image: none;
    list-style-position: outside;
    list-style-type: none;
    margin: auto;
    max-width: 400px;
    width: 400px;
    outline-color: rgb(120, 120, 120);
    outline-style: none;
    outline-width: 0px;
    padding: 42px;
    visibility: visible;
}